In [3]:
import pandas as pd
#import numpy as np

# Read the three files into python as dataframes

In [4]:
file1 = pd.read_csv("files_for_lab/csv_files/file1.csv")
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
file2 = pd.read_csv("files_for_lab/csv_files/file2.csv")
file2.head ()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [6]:
file3 = pd.read_csv("files_for_lab/csv_files/file3.csv")
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [7]:
#file1.shape
file1.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [8]:
#file2.shape
file2.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [9]:
#file3.shape
file3.dtypes

Customer                      object
State                         object
Customer Lifetime Value      float64
Education                     object
Gender                        object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints      int64
Policy Type                   object
Total Claim Amount           float64
Vehicle Class                 object
dtype: object

# Standardize header names.

In [10]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [12]:
file1.columns = file1.columns.str.strip().str.lower().str.replace(' ', '_')

In [13]:
file1.columns
#file1.head()

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [14]:
file2.columns = file2.columns.str.strip().str.lower().str.replace(' ', '_')

In [15]:
file2.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [18]:
file3.columns = file3.columns.str.strip().str.lower().str.replace(' ', '_')

In [19]:
file3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

# Rearrange the columns in the dataframe as needed

In [20]:
# rename state as st to align with other files
file3 = file3.rename(columns={'state': 'st'})

In [21]:
file3.columns

Index(['customer', 'st', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [22]:
# Reorder columns as needed
column_order = file1.columns

# Reindex the columns in file2 and file3 to match the column order
file2 = file2.reindex(columns=column_order)
file3 = file3.reindex(columns=column_order)

In [23]:
file3.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

# Correct the values in the column 'customer lifetime value'. 
They are given as a percent, so divide them by 100 and change dtype to numerical type. (only 2 of the files need this step.)

In [24]:
file1['customer_lifetime_value'] = pd.to_numeric(file1['customer_lifetime_value'].astype(str).str.replace('%',''), errors='coerce')/100
file1.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [25]:
file1.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [26]:
#file2['customer_lifetime_value'] = pd.to_numeric(file2['customer_lifetime_value'].apply(lambda x: float(x)/100))
#file2['customer_lifetime_value'] = file2['customer_lifetime_value'] / 100
file2['customer_lifetime_value'] = pd.to_numeric(file1['customer_lifetime_value'].astype(str).str.replace('%',''), errors='coerce')/100
file2.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,GS98873,Arizona,F,Bachelor,NaN,16061,88,1/0/00,Personal Auto,Four-Door Car,633.6
1,CW49887,California,F,Master,69.795359,79487,114,1/0/00,Special Auto,SUV,547.2
2,MY31220,California,F,College,128.874317,54230,112,1/0/00,Personal Auto,Two-Door Car,537.6
3,UH35128,Oregon,F,College,76.458618,71210,214,1/1/00,Personal Auto,Luxury Car,1027.2
4,WH52799,Arizona,F,College,53.630765,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.2

In [27]:
file2.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

# Concatenate the three dataframes

In [28]:
column_names = file1.columns
customers = pd.DataFrame(columns=column_names) #create an empty data frame and put previous columnames 
customers = pd.concat([file1,file2,file3], axis=0) # concat all files in one df
display(customers.head())

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [29]:
customers.shape

(12074, 11)

# Which columns are numerical?

In [31]:
customers.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

ANSWER:  all float data types

# Which columns are categorical?

ANSWER: Categorical coums are: gender, education, policy type, vehicle class

# Check the unique values in the column and to undersatnd if, education is categorical

In [32]:
customers['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

# Uderstand the meaning of all columns

ANSWER: It seems to be a list that contains custumers of current or potential customers of a car insurance. The custumer is sorted by state, car type and income and so on.

In [33]:
# I renamed the column for better reading matters 
customers.rename(columns = {'st':'state', 'customer':'id'}, inplace = True)

In [34]:
customers.columns

Index(['id', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

# Perform the data cleaning operations mentioned so far in class

# Delete the column education and the number of open complaints from the dataframe.

In [35]:
customers = customers.drop(['education','number_of_open_complaints'], axis=1)
customers.head()

,id,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.5359,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,12887.4317,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7645.8618,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5363.0765,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

# Check for duplicate rows in the data and remove if any.

In [36]:
# Check the possible dupliates in 'id',  previous 'customer' 

customers.nunique()
customers2 = customers.copy()
#customers.shape

In [37]:
customers2['id'].value_counts(dropna=False)

NaN        2937
QD28391       2
PY42157       2
FM14335       2
HX77930       2
           ...
KG49115       1
NT78297       1
TN66124       1
JV99867       1
Y167826       1
Name: id, Length: 9057, dtype: int64

In [38]:
customers2.shape

(12074, 9)

In [39]:
# to drop duplicates on base 'id', previous 'customers'
customers2= customers2.drop_duplicates(subset=['id'])
customers2.shape

(9057, 9)

In [40]:
customers2.nunique()

id                         9056
state                         8
gender                        5
customer_lifetime_value    8200
income                     5655
monthly_premium_auto        209
policy_type                   3
vehicle_class                 6
total_claim_amount         5070
dtype: int64

# Filter out the data for customers who have an income of 0 or less. (Only show customers who HAVE an income.

In [41]:
#customers2[customers2['income']<=0]

# to show only customers with greater 0 income, reverse the operater
customers2[customers2['income']>0]

,id,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
2,AI49188,Nevada,F,12887.431700,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,5363.076500,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,8256.297800,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,5380.898600,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,24127.504000,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000